.cta {
  padding: 80px 10%;
  background-color: #007bff;
  text-align: center;
  color: #fff;
}
.cta-content h2 {
  font-size: 40px;
  padding-bottom: 15px;
}
.cta-content p {
  font-size: 19px;
  padding-bottom: 30px;
}
.cta-content .cta-button {
  padding: 10px 20px;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  border: none;
}
.cta-content .cta-button:hover {
  background-color: red;
  color: whitesmoke;
}
